.grid-item {
color: $gray;
position: relative;
overflow: hidden;
	span {
	font-size: 8em;
	text-align: center;
	background-color: $lg;
	width: 100%;
	min-height: 2em;
	margin: 0 0 10px 0;
	padding: 10px 5px;
	transition: color 0.7s;
	}
	.slexcerpt {
	position: absolute;
	background-color: $white;
	padding: 5px 10px 0 5px;
	bottom: -200%;
	transition: bottom 0.7s;
		p {
		font-size: 0.8em;
		color: $gray;
		}
		h5 {
		font-size: 70%;
		}
	}
	&:hover {
		.slexcerpt {
		bottom: 0;
		}
		.th + .slexcerpt {
		bottom: 28px;
		width: 9.7em;
		}
	}
	.th {
	margin-top: 5px;
	}
}
.fa-marketing-research:before {
content: "\f002";
}
.fa-marketing-strategy-firm:before {
content: "\f0eb";
}
.fa-online-advertising-firm:before {
content: "\f0ac";
}
.fa-mobile-marketing:before {
content: "\f10b";
}
.fa-web-hosting:before {
content: "\f0a0";
}
.fa-campaign-management:before {
content: "\f046";
}
.fa-email-marketing:before {
content: "\f0e0";
}
.fa-online-reputation-management:before {
content: "\f087";
}
.fa-content-marketing:before {
content: "\f0ad";
}
.fa-full-service-social-media-management:before {
content: "\f0c0";
}
.fa-search-engine-optimization:before {
content: "\f05b";
}
.fa-website-development-design:before {
content: "\f0c1";
}
.fa-e-commerce-websites:before {
content: "\f09d";
}
.fa-brand-management-branding:before {
content: "\f005";
}
.fa-graphic-design:before {
content: "\f06e";
}
[class*="column"] + [class*="column"]:last-child {
float: left;
}
@media only screen and (min-width: $medium) and (max-width: $large) {
.grid-item {
	&:hover {
		.th + .slexcerpt {
		width: 73%;
		}
	}
}
}
@media only screen and (min-width: $large) {
.grid-item {
	.slexcerpt {
		h5 {
		font-size: 1em;
		}
	}
}
}