#header {
	background: #333333;
	margin: -25px 0 20px -10px;
	padding: 20px;
	width: 102%;
}
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
background: #121212;
}
.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover {
background: #272727;
}
/* Big ideas, real results menu */
#big-menu {
position: relative;
	li {
	list-style: none;
	display: inline-block;
		a {
		font-size: 2em;
		}
		.real-big-nav {
		position: absolute;
		left: 0;
		}
	}
}
#big-ideas, #real-results {
	overflow: hidden;
	height: 0;
}
#bi-link:hover #big-ideas, #rr-link:hover #real-results {
	height: auto;
}
/* end big ideas, real results menu */