.welcome {
padding: 20px;
background-color: $blue;
color: $white;
margin: -10px 0 10px 0;
line-height: 1.4em;
	.button {
	background: $green;
	margin-top: 10px;
		&:hover {

		}
	}
	h3 {
	color: inherit;
	}
}
.home-features {
text-align: center;
	.fa {
	font-size: 8em;
	}
	.panel {
	padding: 0;
		span {
		min-height: 1.7em;
		}
	}
}
.fa-need-marketing-partner:before {
content: "\f0eb";
}
.fa-need-search-engine-marketing:before {
content: "\f002";
}
.fa-need-website:before {
content: "\f0ac";
}