#wrapper {
max-width: none;
box-shadow: none;
background-color: $lg;
}
.row {
max-width: none;
}
#content {
outline: 5px solid $lg;
}
#content, #secondary {
padding-top: 12px; 
padding-bottom: 20px;
}
.entry-content {
padding: 0 12px;
}
button, .button, .label {
background: $blue;
}
a.button:hover, input.button:hover {
	background: $green;
}
.fa {
font-family: 'FontAwesome';
font-weight: lighter;
}
.entry-header {
	h1 {
	margin-left: 10px;
	}
}
ul.pagination {
	li {
		&.current {
			a {
			background: $blue;
				&:hover {
				background: $green;
				}
			}
		}
		a {
		@include border-radius(0);
			&:hover {
			background: $green;
			color: $white;
			}
		}
	}
}